body{
    margin: 5%;
    padding: 0;
    font-family: sans-serif;
}
#oversigt{
    width: 400px;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    background-color: white;
    padding: 2%;
}
h1{
    float: top;
    font-size: 40px;
    border-bottom: 4px solid black;
    width: 40%;
    margin-bottom: 5%;
    padding-bottom: 1%;
}

#revisorNavn{
    float: top;
    font: 20px;
    width: 40%;
    border-bottom: 2px solid black;
    padding-bottom: 1%;
}

h2{
    font-size: 20px;
    border-bottom: 2px solid black;
    width: 40%;
    padding-bottom: 1%;
}
#logUd{
    font: 12px Arial;
    color: black;
    border: 0.5px solid black;
    display: inline-block;
    background-color: white;
    cursor: pointer;
    border-radius: 5%;
    margin-bottom: 5%;
    margin-top: 1%;
    padding: 1%;
}

#sletmøde{
    font: 12px Arial;
    color: black;
    border: 0.5px solid black;
    display: inline-block;
    background-color: white;
    cursor: pointer;
    border-radius: 5%;
    padding: 0.5%;
}

#sletAllemøder{
    font: 12px Arial;
    color: black;
    border: 0.5px solid black;
    display: inline-block;
    background-color: white;
    cursor: pointer;
    border-radius: 5%;
    padding: 0.5%;
}

#mødeOversigt{
    font: 16px Arial;
    border: 1px solid black;
    text-align: left;
    width: 40%;
}

.nav {
    border: 1px #9b9ea3;
    width: 99%;
    padding: 0.5%;
    text-align: center;
    background-color: #9b9ea3;
}

.navbar {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    background-color: #9b9ea3;
}

.navList {
    display: inline;
    padding: 5%;
}

.navLista {
    color: white;
    text-decoration: none;
}